---
layout: home
---

<p align="center"><img src="{{site.baseurl}}/img/miniaturas YT/Portada.png" width="500px"></p>

{% for i in site.pages %}
  {% if i.type == 'topic'%}
  	<table>

      <!-- LEFT part of the table -->
  		<th width="200" rowspan="4">
        <h3>
          <a href="{{site.baseurl}}/{{i.id}}">{{i.title}}</a>
        </h3>
        <img src="{{site.baseurl}}/img/icons/{{i.img_icon}}" width="120px" height="100px">
      </th>


      <!-- RIGHT part of the table -->
      {% for j in site.pages %}
        {% if j.topic == i.title %}
        <tr>
          <td><a href="{{site.baseurl}}/{{i.id}}/{{j.id}}">{{j.title}}</a></td>
          <td><a href="https://colab.research.google.com/github/CenticMurcia/curso-ciencia-datos/blob/master/{{i.id}}/{{j.id}}/notebook.ipynb"><img src="{{site.baseurl}}/img/colab.svg"/></a></td>
        </tr>
        {% endif %}
      {% endfor %}


    </table>
  {% endif %}
{% endfor %}
