---
layout: home
blocks:
  - id: "1-intro"
    title: "Bloque 1: Introducción"
  - id: "2-models"
    title: "Bloque 2: Modelos de ML/DL"
  - id: "3-apps"
    title: "Bloque 3: Aplicaciones reales de ML/DL"
#  - id: "4-others"
#   title: "Bloque 4: Otros"
---

{% assign sorted_pages = site.pages | sort:"id" %}


<p align="center"><img src="{{site.baseurl}}/img/miniaturas YT/Portada.png" width="500px"></p>

{% for block in page.blocks %}

    <h2>{{block.title}}</h2>

    {% for i in sorted_pages %}
      {% if i.parent_id==block.id%}
        <table>

          <!-- LEFT part of the table -->
          <th width="30%" rowspan="100%" style='text-align:center; vertical-align:middle'>
            <h2>
              <a href="{{site.baseurl}}/{{i.id}}">{{i.title}}</a>
            </h2>
            <img src="{{site.baseurl}}/img/icons/{{i.img_icon}}" width="120px" height="100px">
          </th>


          <!-- RIGHT part of the table -->
          {% for j in sorted_pages %}
            {% if j.parent_id == i.id %}
            <tr>
              <td width="55%"><a href="{{site.baseurl}}/{{i.id}}/{{j.id}}">{{j.title}}</a></td>
              <td width="15%" style="text-align:center">

                {% if j.notebook != nil %}
                  <!--<a target="_blank" href="https://colab.research.google.com/github/CenticMurcia/curso-ciencia-datos/blob/master/{{i.id}}/{{j.id}}/{{j.notebook}}"><img src="{{site.baseurl}}/img/colab.svg"/></a>-->
                  <a target="_blank" href="https://colab.research.google.com/github/CenticMurcia/curso-ciencia-datos/blob/master/{{i.id}}/{{j.id}}/{{j.notebook}}"><img src="https://img.shields.io/badge/-Notebook-grey?logo=googlecolab"/></a>
                {% endif %}

                {% if j.notebook-exercise != nil %}
                  <a target="_blank" href="https://colab.research.google.com/github/CenticMurcia/curso-ciencia-datos/blob/master/{{i.id}}/{{j.id}}/{{j.notebook-exercise}}"><img src="https://img.shields.io/badge/-Exercise-grey?logo=googlecolab"/></a>
                {% endif %}

                {% if j.notebook-solution != nil %}
                  <a target="_blank" href="https://colab.research.google.com/github/CenticMurcia/curso-ciencia-datos/blob/master/{{i.id}}/{{j.id}}/{{j.notebook-solution}}"><img src="https://img.shields.io/badge/-Solution-grey?logo=googlecolab"/></a>
                {% endif %}

              </td>
            </tr>
            {% endif %}
          {% endfor %}


        </table>
      {% endif %}
    {% endfor %}

{% endfor %}
